# ===============================
# DEPENDENCIAS
# ===============================
node_modules/

# ===============================
# BUILD / OUTPUT
# ===============================
dist/
dist-ssr/
.vite/

# ===============================
# VARIABLES DE ENTORNO
# ===============================
.env
.env.local
.env.*.local

# ===============================
# LOGS
# ===============================
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

# ===============================
# SISTEMA OPERATIVO
# ===============================
.DS_Store
Thumbs.db

# ===============================
# EDITORES / IDEs
# ===============================
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# ===============================
# TEMPORALES
# ===============================
.tmp/
